/web/bundles/
/app/bootstrap.php.cache
/app/AppCache.php
/app/AppKernel.php
/app/autoload.php
/app/check.php
/app/console
/app/phpunit.xml.dist
/app/SymfonyRequirements.php
/app/cache/*
/app/config/*
/app/logs/*
/app/cache/.gitkeep
/app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/blog
/web/js/jquery-ui-1.11.2/*
/web/js/jquery-1.11.1.min.js
/web/js/jquery-ui-1.11.2.min.js
/web/robots.txt
/web/app_dev.php
/web/css/compile/*
/web/js/compile/*
/.project
/composer.json
/composer.lock
/LICENSE
/README.md
/UPGRADE.md
/UPGRADE-2.2.md
/UPGRADE-2.3.md
/UPGRADE-2.4.md