#body_content{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: #A9D0F5;
}

#turntable_canvas{
    position: relative;
    margin: 350px auto 50px;
    width: 700px;
    height: 300px;
}

/** TURNTABLES **/
.turntable{
    position: relative;
    float: left;
    width: 38%;
    height: 100%;
    background-color: #A4A4A4;
}

.turntable .needle{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 20px;
    z-index: 998;
    transform-origin: left top;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.turntable .needle .needle_base{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #151515;
}

.turntable .needle .needle_body{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 180px;
    height: 10px;
    background-color: #DC8C32;
}

.turntable .needle .needle_head{
    position: absolute;
    top: 2px;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: #151515;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%
}

.turntable .pre_vynil_area{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 246px;
    height: 246px;
    background-color: #DCD296;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.turntable .pre_vynil_area .vynil_area{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 236px;
    height: 236px;
    background-color: #F3E5AB;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.turntable .pre_vynil_area .vynil_area .point{
    position: relative;
    top: 113px;
    left: 113px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #C0C0C0;
    z-index: 999;
}
/** TURNTABLES **/

/** CROSSFADER MIXER **/
#crossfader_mixer{
    position: relative;
    float: left;
    width: 24%;
    height: 80%;
    margin: 5% 0;
    background-color: #F3E5AB;
}

#crossfader_mixer #turn_on{
    position: absolute;
    width: 80%;
    height: 30px;
    margin: 10px 10%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    cursor: pointer;
    font-weight: bold;
}

#crossfader_mixer #turn_on.off{
    border: 2px solid #6E6E6E;
    background-color: #D8D8D8;
    color: #6E6E6E;
}

#crossfader_mixer #turn_on.on{
    border: 2px solid #FFBF00;
    background-color: #F4FA58;
    color: #FFBF00;
}
/** CROSSFADER MIXER **/

/** VYNILS **/
.vynil{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 234px;
    height: 234px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1C1C1C;
}

.vynil .groove{
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #000000;
}

.vynil .groove .in_groove{
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1C1C1C;
}

.vynil .pre_title{
    position: absolute;
    top: 75px;
    left: 75px;
    width: 84px;
    height: 84px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #000000;
}

.vynil .pre_title .title{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.vynil .pre_title .title label{
    position: absolute;
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
}

.vynil .pre_title .title .label_top{
    position: absolute;
    width: 100%;
    color: white;
    top: 5px;
}

.vynil .pre_title .title .label_bottom{
    position: absolute;
    width: 100%;
    color: white;
    bottom: 8px;
}

.vynil .pre_title .title .hole{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #A9D0F5;
}

/* Maqueta LMP */
#lmp_maqueta:active {
    animation-play-state: paused;
}

#lmp_maqueta .title{
    background-color: red;
}

#lmp_maqueta .groove_1{
    top: 17px;
    left: 17px;
    width: 200px;
    height: 200px;
}

#lmp_maqueta .groove_1 .in_groove{
    top: 2px;
    left: 2px;
    width: 196px;
    height: 196px;
}

#lmp_maqueta .groove_2{
    top: 37px;
    left: 37px;
    width: 160px;
    height: 160px;
}

#lmp_maqueta .groove_2 .in_groove{
    top: 4px;
    left: 4px;
    width: 152px;
    height: 152px;
}

#lmp_maqueta .groove_3{
    top: 67px;
    left: 67px;
    width: 100px;
    height: 100px;
}

#lmp_maqueta .groove_3 .in_groove{
    top: 1px;
    left: 1px;
    width: 98px;
    height: 98px;
}

/* Maqueta LMP */
/** VYNILS **/

/** ANIMATIONS **/

.vynil_ratation_on{
    animation: vynil_rotation 4s 2s linear infinite;
}

.needle_on{
    animation: needle_on 2s ease-in-out forwards;
}

.needle_running{
    margin-left: 0;
    transform-origin: left top;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    animation: needle_running 30s 2s linear infinite;
}

@keyframes vynil_rotation{
    0%{
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
    }
    
    50%{
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
    
    100%{
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}

@keyframes needle_on{
    0%{
        margin-left: 0;
        transform-origin: left top;
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
    }
    
    100%{
        margin-left: 0;
        transform-origin: left top;
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
    }
}

@keyframes needle_running{
    0%{
        margin-left: 0;
        transform-origin: left top;
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
    }
    
    90%{
        margin-left: 12px;
        transform-origin: left top;
        -ms-transform: rotate(40deg); /* IE 9 */
        -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
    }
    
    100%{
        margin-left: 0;
        transform-origin: left top;
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
    }
}

/** ANIMATIONS **/