<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    {% block metas %}
        <title>ChristianGH - Desarrollador web</title>
        <meta name="description" content="Description" />
        <meta name="keywords" content="Keywords" />
    {% endblock %}
        <meta name="lang" content="{{ app.request.locale }}"/>
        <meta name="author" content="Christian Garcia"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% block css %}
    {% stylesheets
        'css/header.css'
        'css/nav.css'
        'css/main.css'
        'css/footer.css'
        filter='cssrewrite' output='css/compiled/all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
    
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
        {% stylesheets
            'js/jquery-1.11.1.min.js'
            'js/main.js'
            output='js/compiled/all.js' %}
            <script src="{{ asset_url }}"></script>
        {% endstylesheets %}
        {% endblock %}
    </body>
</html>
