<div id="body_content">
    <div id="turntable_canvas">
        <div id="turntable_left" class="turntable">
            <div class="needle">
                <div class="needle_base"></div>
                <div class="needle_body"></div>
                <div class="needle_head"></div>
            </div>
            <div class="pre_vynil_area">
                <div class="vynil_area">
                    <div class="point"></div>
                    <div id="lmp_maqueta" class="vynil">
                        <div class="groove groove_1">
                            <div class="in_groove"></div>
                        </div>
                        <div class="groove groove_2">
                            <div class="in_groove"></div>
                        </div>
                        <div class="groove groove_3">
                            <div class="in_groove"></div>
                        </div>
                        <div class="pre_title">
                            <div class="title">
                                <label class="label_top">LMP</label>
                                <label class="label_bottom">Maqueta</label>
                                <div class="hole"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="crossfader_mixer">
            <button id="turn_on" class="off">ON / OFF</button>
        </div>
        
        <div id="turntable_right" class="turntable">
            <div class="needle">
                <div class="needle_base"></div>
                <div class="needle_body"></div>
                <div class="needle_head"></div>
            </div>
            <div class="pre_vynil_area">
                <div class="vynil_area">
                    <div class="point"></div>
                </div>
            </div>
        </div>
    </div>
</div>