<div id="incorrect_resolution">
    {{ 'error.incorrect_screen_size.message'|trans }}    
</div>

<div id="body_content">
    <div id="frame_sound">
        <div id="background_sound">
            <div id="background_sound_left"></div>
            <div id="background_sound_right"></div>
        </div>
    </div>
    
    <div id="vynil_rest_area">
        <div id="lmp_maqueta_resting_area" class="cover_area">
            <div id="lmp_maqueta_cover" class="vynil_cover"></div>
            <div id="lmp_maqueta" class="vynil vynil_resting">
                <div class="groove groove_1"></div>
                <div class="groove groove_2"></div>
                <div class="groove groove_3"></div>
                <div class="title">
                    <label class="label_top">LMP</label>
                    <label class="label_bottom">Maqueta</label>
                </div>
            </div>
        </div>
        <div id="lmp_reggae_resting_area" class="cover_area">
            <div id="lmp_reggae_cover" class="vynil_cover"></div>
            <div id="lmp_reggae" class="vynil vynil_resting">
                <div class="groove groove_1"></div>
                <div class="groove groove_2"></div>
                <div class="groove groove_3"></div>
                <div class="title">
                    <label class="label_top">LMP</label>
                    <label class="label_bottom">Reggae</label>
                </div>
            </div>
        </div>
        <div id="lmp_instrumentals_resting_area" class="cover_area">
            <div id="lmp_instrumentals_cover" class="vynil_cover"></div>
            <div id="lmp_instrumentals" class="vynil vynil_resting">
                <div class="groove groove_1"></div>
                <div class="groove groove_2"></div>
                <div class="groove groove_3"></div>
                <div class="title">
                    <label class="label_top">Atticroom</label>
                    <label class="label_bottom">Instrumentals</label>
                </div>
            </div>
        </div>
    </div>
    
    <div id="turntable_area">
        <div id="turntable_left" class="turntable">
            <div class="needle">
                <div class="needle_base"></div>
                <div class="needle_body"></div>
                <div class="needle_head"></div>
            </div>
            <div class="pre_vynil_area">
                <div class="vynil_area">
                    <div class="point"></div>
                </div>
            </div>
        </div>
        
        <div id="crossfader_mixer">
            <button id="turn_on" class="off">ON / OFF</button>
            <input id="vynil_speed_left" class="vynil_speed_range" type="range" orient="vertical" />
            <input id="vynil_speed_right" class="vynil_speed_range" type="range" orient="vertical" />
            <input id="vynil_selector_range" type="range" />
        </div>
        
        <div id="turntable_right" class="turntable">
            <div class="needle">
                <div class="needle_base"></div>
                <div class="needle_body"></div>
                <div class="needle_head"></div>
            </div>
            <div class="pre_vynil_area">
                <div class="vynil_area">
                    <div class="point"></div>
                </div>
            </div>
        </div>
    </div>
</div>