/** FOOTER **/
footer{
    position: relative;
    float: left;
    width: 100%;
    margin: 30px 0 20px;
}

footer #main_footer{
    position: relative;
    float: left;
    height: auto;
}

footer #main_post_it_pegado{
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
}

footer #main_post_it{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 116px;
    padding: 5px;
}

footer #social_footer{
    position: relative;
    float: right;
    height: auto;
    min-height: 150px;
}

footer #presocial_post_it_pegado{
    float: left;
    width: 20px;
    height: 37px;
}

footer #presocial_post_it{
    height: 37px;
    overflow: hidden;
    width: auto;
}

footer #main_post_it p, footer #presocial_post_it p{
    margin: 5px;
}

footer #main_post_it .link_to_page{
    position: absolute;
    right: 10px;
    bottom: 10px;    
}

footer #social_list{
    display: inline-block;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    text-align: center;
}

footer #social_list li{
    display: inline-block;
    width: 60px;
    height: 80px;
}

.social_post_it_pegado{
    position: relative;
    float: left;
    width: 100%;
    height: 10px;
    z-index: 2;
}

.social_post_it{
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    text-align: center;
    box-shadow: 3px 4px 6px -3px #000000;
    z-index: 1;
}

.social_post_it img{
    display: inline-block;
    margin-top: 10px;
    width: 50px;
}

#social_linkedin .social_post_it{
    background-color: #FF3C7D;
}

#social_linkedin .social_post_it_pegado{
    background-color: #EB326E;
}

#social_facebook .social_post_it{
    background-color: #4B96C8;
}

#social_facebook .social_post_it_pegado{
    background-color: #4687B4;
}

#social_twitter .social_post_it{
    background-color: #82D723;
}

#social_twitter .social_post_it_pegado{
    background-color: #78CD19;
}

#social_google .social_post_it{
    background-color: #E6464B;
}

#social_google .social_post_it_pegado{
    background-color: #DC3C41;
}

#social_github .social_post_it{
    background-color: #B982CD;
}

#social_github .social_post_it_pegado{
    background-color: #AF78C3;
}

#social_rss .social_post_it{
    background-color: #F5960F;
}

#social_rss .social_post_it_pegado{
    background-color: #EB8C05;
}

.first_social_post_it{
    margin-left: 0!important;
}

.last_social_post_it{
    margin-right: 0!important;
}
/** FOOTER **/

/** DESKTOP **/
@media screen and (min-width:1101px){
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:901px) and (max-width: 1100px){
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:801px) and (max-width: 900px){
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:769px) and (max-width: 800px){
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:769px) and (max-width: 800px){
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}
/** DESKTOP **/

/** TABLET **/
@media screen and (min-width:601px) and (max-width:768px){
    footer #main_footer{
        width: 100%
    }
    
    footer #social_footer{
        width: 100%;
        margin-top: 20px;
    }
    
    footer #social_list{
        margin-top: 20px;
    }
    
    footer #social_list li{
        margin: 0 3%;
    }
}
/** TABLET **/

/** PHONE **/
@media screen and (max-width:600px){
    footer #main_footer{
        width: 100%
    }
    
    footer #social_footer{
        width: 100%;
        margin-top: 20px;
    }
    
    footer #social_list{
        margin-top: 20px;
    }
    
    footer #social_list li{
        margin: 0 5%;
    }
}
/** PHONE **/