body{
	font-family: MV Boli,sans-serif;
	font-size: 16px;
	background: url("/images/background.jpg") repeat fixed 0 0 #FFE4B5;
    color: #232323;
    margin: 0;
    padding: 0;
}

#page{
	position: relative;
	margin: 0 auto;
	width: 98%;
	max-width: 1100px;
	height: auto;
	min-height: 98%;
}

main{
    position: relative;
    width: 100%;
}


/** SECTION COLORS **/
.home_color{
	background-color: #FF1919;
}

.my_cv_color{
	background-color: #FF9B00;
}

.portfolio_color{
	background-color: #FE2E9A;
}

.contents_color{
	background-color: #0ABE0A;
}

.blog_color{
	background-color: #1919FF;
}

.contact_color{
	background-color: #8200FF;
}
/** SECTION COLORS **/

.post_it{
    background-color: #F3F315;
    box-shadow: 3px 4px 6px -3px #000000;
    z-index: 1;
}

.post_it_pegado{
    background-color: #EBEB12;
    z-index: 2;
}

.link_to_page{
    text-decoration-line: #232323;
    color: #232323;
}

.link_to_page:hover{
    text-decoration-line: #0404B4;
    color: #0404B4;
}

.subrayado{
    background-color: yellow;
}

.button_style{
    width: 80px!important;
    height: 32px!important;
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: MV Boli, sans-serif;
    background: url("/images/button-80.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 0.7s ease;
}

.button_style:hover{
    width: 86px!important;
    height: 34px!important;
    margin: -1px -3px;
    transition: all 0.7s ease;
}

.normal_message{
    background: url("/images/cuadricula_vertical_rota.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 20px 5px 50px;
    box-sizing: border-box;
    box-shadow: 3px 4px 6px -3px #000000;
}

.crumpled_foil{
    background: url("/images/crumpled_foil.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 20px 5px 50px;
    box-sizing: border-box;
    box-shadow: 3px 4px 6px -3px #000000;
}

/** UNDERLINING ANIMATION **/
span.underline{
    padding: 0 2px;
    margin: 0 -2px;
}

span.underlined{
    -webkit-animation: underlining 3s  ease-in-out forwards;
    -moz-animation: underlining 3s  ease-in-out forwards;
    animation: underlining 3s  ease-in-out forwards;
    
    background: url("/images/underlined.jpg") no-repeat top left;
    padding: 0 2px;
    margin: 0 -2px;
}

@-webkit-keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}

@-moz-keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}

@keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}
/** UNDERLINING ANIMATION **/