body{
	font-family: MV Boli,sans-serif;
	font-size: 16px;
	background: url("/images/background.jpg") repeat fixed 0 0 #FFE4B5;
    color: #232323;
    margin: 0;
    padding: 0;
}

#page{
	position: relative;
	margin: 0 auto;
	width: 98%;
	max-width: 1100px;
	height: auto;
	min-height: 98%;
}

/** HEADER **/
header{
	position: relative;
	width: 100%;
}

header #anillas{
	position: absolute;
	width: 100%;
    top: -24px;
    z-index: 2;
    height: 50px;
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 10px;
}

header .anillas{
    width: auto;
    height: 42px;
}

header .anilla{
	display: inline-block;
}

header #note_book_title{
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 24px;
	padding-top: 22px;
	background-color: #FFFFFF;
	box-shadow: 3px 4px 6px -3px #000000;
    z-index: 1;
}

header #note_book_title #languages_title .language{
    position: relative;
   	float: left;
    padding: 10px;
    border: 1px solid transparent;
}

header #note_book_title #languages_title .language.language_selected{
    background: url("/images/pen-green.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #0ABE0A;
    border-radius: 30%;
}
/** HEADER **/
	
/** NAV **/
nav.relative{
	position: relative;
	width: 100%;
	box-shadow: 3px 4px 6px -3px #000000;
    margin-bottom: 30px;
}

nav.fixed{
	position: fixed;
	width: 98%;
    max-width: 1100px;
	box-shadow: 3px 4px 6px -3px #000000;
    top: 0;
    margin: 0 auto;
    z-index: 999;
}

nav #nav_list{
    display: inline-block;
    width: 100%;
    height: 60px;
}

nav #nav_list #current_section{
	display: block;
	width: 100%;
	height: 10px;
}

nav #nav_list #section_list{
	display: block;
	width: 99%;
	height: 50px;
	background-color: #232323;
	padding: 0 0.5%;
	margin: 0;
	list-style: none
}

nav #nav_list #section_list li{
	display: inline-block;
	width: 12.6%;
	height: 40px;
	padding: 0;
	margin: 0 2%;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

nav #nav_list #section_list li a{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	color: white;
    font-weight: bold;
	text-decoration: none;       
}

nav #nav_list #section_list li a span{
	display: block;
	text-align: center;
}

nav #nav_select{
    display: none;
    width: 100%;
    height: 40px;
    background-color: #232323;
    text-align: center;
}

nav #nav_select #section_select{
    width: 80%;
    border: none;
    color: white;
    font-family: MV Boli,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    padding: 0 30px;
    border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

.home_color{
	background-color: #FF1919;
}

.my_cv_color{
	background-color: #FF9B00;
}

.portfolio_color{
	background-color: #F0F000;
}

.contents_color{
	background-color: #0ABE0A;
}

.blog_color{
	background-color: #1919FF;
}

.contact_color{
	background-color: #8200FF;
}
/** NAV **/

/** MAIN **/
main{
    position: relative;
    width: 100%;
}
/** MAIN **/

/** FOOTER **/
footer{
    position: relative;
    float: left;
    width: 100%;
    margin: 30px 0 20px;
}

footer #main_footer{
    position: relative;
    float: left;
    height: auto;
}

footer #main_post_it_pegado{
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
}

footer #main_post_it{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 116px;
    padding: 5px;
}

footer #social_footer{
    position: relative;
    float: right;
    height: 150px;
}

footer #presocial_post_it_pegado{
    float: left;
    width: 20px;
    height: 37px;
}

footer #presocial_post_it{
    height: 37px;
    overflow: hidden;
    width: auto;
}

footer #main_post_it p, footer #presocial_post_it p{
    margin: 5px;
}

footer #main_post_it .link_to_page{
    position: absolute;
    right: 10px;
    bottom: 10px;    
}

footer #social_list{
    display: inline-block;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    text-align: center;
}

footer #social_list li{
    display: inline-block;
    width: 60px;
    height: 80px;
}

.social_post_it_pegado{
    position: relative;
    float: left;
    width: 100%;
    height: 10px;
    z-index: 2;
}

.social_post_it{
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    text-align: center;
    box-shadow: 3px 4px 6px -3px #000000;
    z-index: 1;
}

.social_post_it img{
    display: inline-block;
    margin-top: 10px;
    width: 50px;
}

#social_linkedin .social_post_it{
    background-color: #FF3C7D;
}

#social_linkedin .social_post_it_pegado{
    background-color: #EB326E;
}

#social_facebook .social_post_it{
    background-color: #4B96C8;
}

#social_facebook .social_post_it_pegado{
    background-color: #4687B4;
}

#social_twitter .social_post_it{
    background-color: #82D723;
}

#social_twitter .social_post_it_pegado{
    background-color: #78CD19;
}

#social_google .social_post_it{
    background-color: #E6464B;
}

#social_google .social_post_it_pegado{
    background-color: #DC3C41;
}

#social_github .social_post_it{
    background-color: #B982CD;
}

#social_github .social_post_it_pegado{
    background-color: #AF78C3;
}

#social_rss .social_post_it{
    background-color: #F5960F;
}

#social_rss .social_post_it_pegado{
    background-color: #EB8C05;
}

.first_social_post_it{
    margin-left: 0!important;
}

.last_social_post_it{
    margin-right: 0!important;
}
/** FOOTER **/

.post_it{
    background-color: #F3F315;
    box-shadow: 3px 4px 6px -3px #000000;
    z-index: 1;
}

.post_it_pegado{
    background-color: #EBEB12;
    z-index: 2;
}

.link_to_page{
    text-decoration-line: #232323;
    color: #232323;
}

.subrayado{
    background-color: yellow;
}

.button_style{
    width: 80px!important;
    height: 32px!important;
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: MV Boli, sans-serif;
    background: url("/images/button-80.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 0.7s ease;
}

.button_style:hover{
    width: 86px!important;
    height: 34px!important;
    margin: -1px -3px;
    transition: all 0.7s ease;
}

.normal_message{
    background: url("/images/cuadricula_vertical_rota.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 20px 5px 50px;
    box-sizing: border-box;
    box-shadow: 3px 4px 6px -3px #000000;
}

.crumpled_foil{
    background: url("/images/crumpled_foil.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 20px 5px 50px;
    box-sizing: border-box;
    box-shadow: 3px 4px 6px -3px #000000;
}

/** UNDERLINING ANIMATION **/
span.underline{
    padding: 0 2px;
    margin: 0 -2px;
}

span.underlined{
    -webkit-animation: underlining 3s  ease-in-out;
    -moz-animation: underlining 3s  ease-in-out;
    animation: underlining 2s  ease-in-out;
    
    background: url("/images/underlined.jpg") no-repeat top left;
    padding: 0 2px;
    margin: 0 -2px;
}

@-webkit-keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}

@-moz-keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}

@keyframes underlining{
    from{
        background: url("/images/underlined.jpg") no-repeat -600px top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
    
    to{
        background: url("/images/underlined.jpg") no-repeat right top;
        padding: 0 2px;
        margin: 0 -2px;   
    }
}
/** UNDERLINING ANIMATION **/

/** DESKTOP **/
@media screen and (min-width:901px){
    header .anilla{
    	display: inline-block;
    	margin: 0 11.4%;
        width: 2%;
    }
    
    header #note_book_title #main_title{
    	position: relative;
    	float: left;
    	margin: 64px 0 0 40px;
    }
    
    header #note_book_title #languages_title{
    	position: relative;
    	float: right;
    	width: auto;
    	margin: 64px 40px 0 0;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 0 0 20px;
    }
    
    header #note_book_title #secondary_title{
    	position: relative;
    	float: right;
    	margin: 88px 40px 0 0;
    }
    
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
    
    nav #section_list li a{
    	font-size: 18px;
        margin-top: 5px;
    }
}

@media screen and (min-width:801px) and (max-width: 900px){
    nav #section_list li a{
    	font-size: 17px;
        margin-top: 6px;
    }
    
    footer #social_list li{
        margin: 0 1%;
    }
    
    header .anilla{
    	display: inline-block;
    	margin: 0 11.4%;
        width: 2%;
    }
    
    header #note_book_title #main_title{
    	position: relative;
    	float: left;
    	margin: 64px 0 0 40px;
    }
    
    header #note_book_title #languages_title{
    	position: relative;
    	float: right;
    	width: auto;
    	margin: 64px 40px 0 0;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 0 0 20px;
    }
    
    header #note_book_title #secondary_title{
    	position: relative;
    	float: right;
    	margin: 88px 40px 0 0;
    }
    
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:769px) and (max-width: 800px){
    nav #section_list li a{
    	font-size: 16px;
        margin-top: 7px;
    }
    
    footer #social_list li{
        margin: 0 1%;
    }
    
    header .anilla{
    	display: inline-block;
    	margin: 0 11.4%;
        width: 2%;
    }
    
    header #note_book_title #main_title{
    	position: relative;
    	float: left;
    	margin: 64px 0 0 40px;
    }
    
    header #note_book_title #languages_title{
    	position: relative;
    	float: right;
    	width: auto;
    	margin: 64px 40px 0 0;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 0 0 20px;
    }
    
    header #note_book_title #secondary_title{
    	position: relative;
    	float: right;
    	margin: 88px 40px 0 0;
    }
    
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}

@media screen and (min-width:769px) and (max-width: 800px){
    nav #section_list li a{
    	font-size: 16px;
        margin-top: 7px;
    }
    
    footer #social_list li{
        margin: 0 0.5%;
    }
    
    header .anilla{
    	display: inline-block;
    	margin: 0 11.4%;
        width: 2%;
    }
    
    header #note_book_title #main_title{
    	position: relative;
    	float: left;
    	margin: 64px 0 0 40px;
    }
    
    header #note_book_title #languages_title{
    	position: relative;
    	float: right;
    	width: auto;
    	margin: 64px 40px 0 0;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 0 0 20px;
    }
    
    header #note_book_title #secondary_title{
    	position: relative;
    	float: right;
    	margin: 88px 40px 0 0;
    }
    
    footer #main_footer{
        width: 38%;
        max-width: 490px;
    }
    
    footer #social_footer{
        width: 55%;
        max-width: 520px;
    }
    
    footer #social_list li{
        margin: 0 2%;
    }
}
/** DESKTOP **/

/** TABLET **/
@media screen and (min-width:601px) and (max-width:768px){
    header .anilla{
    	display: inline-block;
    	margin: 0 11%;
        width: 2.5%;
        min-height: 30px;
    }
    
    header #note_book_title{
        height: 275px;
        text-align: center;
    }
    
    header #note_book_title #main_title{
    	display: inline-block;
    	width: 320px;
    	margin: 30px 0 0 0;
    }
    
    header #note_book_title #languages_title{
    	position: absolute;
        bottom: 30px;
        right: 10px;
    	width: auto;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 20px 0 0;
        height: 20px;
        width: auto;
        padding: 8px;
    }
    
    header #note_book_title #secondary_title{
    	display: inline-block;
    	width: 430px;
    	margin: 30px 0 0 0;
    }
    
    nav #section_list li a{
    	font-size: 12px;
        margin-top: 9px;
    }
    
    footer #main_footer{
        width: 100%
    }
    
    footer #social_footer{
        width: 100%;
        margin-top: 20px;
    }
    
    footer #social_list{
        margin-top: 20px;
    }
    
    footer #social_list li{
        margin: 0 3%;
    }
}
/** TABLET **/

/** PHONE **/
@media screen and (max-width:600px){
    nav #nav_list{
        display: none;
    }
    
    nav #nav_select{
        display: inline-block;
    }
    
    header .anilla{
    	display: inline-block;
    	margin: 0 11%;
        width: 3%;
        max-height: 40px;
        min-height: 35px;
    }
    
    header #note_book_title{
        height: 200px;
        text-align: center;
    }
    
    header #note_book_title #main_title{
    	display: inline-block;
    	width: 220px;
    	margin: 20px 0 0;
    }
    
    header #note_book_title #languages_title{
    	position: absolute;
        bottom: 20px;
        right: 10px;
    	width: auto;
    }
    
    header #note_book_title #languages_title .language{
    	margin: 0 15px 0 0;
        height: 20px;
        width: auto;
        padding: 8px;
    }
    
    header #note_book_title #secondary_title{
    	display: inline-block;
    	width: 250px;
    	margin: 20px 0 0 0;
    }
    
    footer #main_footer{
        width: 100%
    }
    
    footer #social_footer{
        width: 100%;
        margin-top: 20px;
    }
    
    footer #social_list{
        margin-top: 20px;
    }
    
    footer #social_list li{
        margin: 0 5%;
    }
}
/** PHONE **/